{% extends 'store/main.html' %}
{% load static %}
{% block content %}
	<div class="row">
		{% for sante in Santes %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{sante.imageURL}}">
			<div class="box-element product">
				<h6><strong>{{sante.name}}</strong></h6>
				<hr>

				<button data-product="{{sante.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
				
				
				<h4 style="display: inline-block; float: right "><strong>{{sante.price}}DNT</strong></h4>

			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}
